<p id="notice"><%= notice %></p>

<h1>Students</h1>
    <table class="table table-striped table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Age</th>
          <th>Email</th>
          <th>Operations</th>
        </tr>
      </thead>
      
      <tbody>
        <tr>
          <% @students.each do |student| %>
          <td></td>
          <td><%= student.name %></td>
          <td><%= student.age %></td>
          <td><%= student.email %></td>
          <td>
            <%= link_to 'Show', student, class:'btn btn-success' %>
            <%= link_to 'Edit', edit_student_path(student), class:'btn btn-info' %>
            <%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-primary' %>  
          </td>
        </tr>
      </tbody>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path, class:'btn-link' %>